
.container {
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.image-to-show {
    width: 400px;
    height: 400px;
    animation-name: Visible;
    animation-duration: 3000ms;
  }
  @keyframes Visible {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}  
    100% {opacity: 0;}
  }
  .images-wrapper {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .wrapper {
    transition: 500ms ease-in-out;
    display: flex;
  }
  .btn-stop,
  .btn-start {
    border-radius: 5px;
    border: 2px solid darkgreen;
  }
  .btn-stop {
    background-color: lightpink;
  }
  .btn-start {
    background-color: lightgreen;
  }
  .hidden {
    display: none;
  }
  .active {
    display: block;
  }